body{
  padding: 0px;
  margin: 0px;
}
.btn {
  border-radius: 8px;
  padding: 5px;
}

.active-btn {
  display: flex;
  justify-content: space-evenly;  
}

.active-btn button {
  border: none;
  border-radius: 16px;
  padding: 6px 12px;
  font-size: 15px;
  cursor: pointer;
}

#Card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#extentions-tab {
  
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
            

}

@media screen and (max-width:600px) {
  
  #Card{
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
    height: auto;

  }

  #extentions-tab {

    flex-direction: column;
  }
}