
.btn {
  border-radius: 8px;
  padding: 5px;
}

.active-btn {
  display: flex;
  justify-content: space-evenly;  
}

.active-btn button {
  border: none;
  border-radius: 16px;
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
}

